form.add-ingredient {
    font-size: 16px;
    margin: 0 10px;
}

form.add-ingredient div.form-group {
    display: flex;
    flex-direction: column;
}

form.add-ingredient input {
    margin-bottom: 5px;
    font-size: 16px;
}

button.add-ingredient {
    background-color: rgb(213, 226, 226);
    border: 1px solid rgb(185, 184, 184);
    padding: 2px 8px;
    margin: 10px auto 0 auto;
    font-size: 18px;
    display: block;
}