form.update-cocktail {
    font-size: 16px;
    margin: 10px;
}

form.update-cocktail input, form.update-cocktail textarea {
    font-size: 16px;
    margin-bottom: 5px;
}

form.update-cocktail div.form-group {
    display: flex;
    flex-direction: column;
}

form.update-cocktail button.add-row {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    padding: 0;
    width: 22px;
    height: 22px;
    background-color: rgb(213, 226, 226);
    border: 1px solid rgb(185, 184, 184);
}

.ingredient-info {
    font-size: 15px;
    margin-bottom: 5px;
}

button.update-cocktail {
    background-color: rgb(213, 226, 226);
    border: 1px solid rgb(185, 184, 184);
    padding: 2px 8px;
    margin: 10px auto;
    font-size: 18px;
    display: block;
}