form.update-cocktail {
    font-size: 16px;
}

form.update-cocktail input, form.update-cocktail textarea {
    font-size: 16px;
    margin-bottom: 5px;
}

form.update-cocktail div.form-group {
    display: flex;
    flex-direction: column;
}

form.update-cocktail button.update-cocktail {
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

form.update-cocktail button.add-row {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    padding: 0;
    width: 22px;
    height: 22px;
}

.ingredient-info {
    font-size: 15px;
    margin-bottom: 5px;
}