@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

h1 {
    font-size: 32px;
    font-family: 'Prata', serif;
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.header-links a:link {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 5px;
}