form.add-cocktail {
    font-size: 16px;
}

form.add-cocktail div.form-group {
    display: flex;
    flex-direction: column;
}

form.add-cocktail input, form.add-cocktail textarea {
    margin-bottom: 5px;
}

form.add-cocktail button.add-cocktail {
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

form.add-cocktail button.add-row {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    padding: 0;
    width: 22px;
    height: 22px;
}

form .add-cocktail p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

form .add-cocktail h2 {
    margin-bottom: 5px;
}