form.cocktail-search div.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16px;
}

form.cocktail-search label, form.cocktail-search input, form.cocktail-search select {
    display: block;
} 

.cocktail-search input, .cocktail-search select {
    font-size: 16px;
}

button.cocktail-search {
    background-color: rgb(213, 226, 226);
    border: 1px solid rgb(185, 184, 184);
    padding: 2px 8px;
    margin: 10px auto;
    font-size: 18px;
    display: block;
}

form.cocktail-search {
    margin-top: 30px;
}